@import "./src/variables";

.slot {
  margin: 0.8em 0px;
  .needed-for-onClick {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    .line-flag {
      height: 1vw;
      width: 1vw;
      position: absolute;
      left: 7vw;
      border-radius: 50%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .left-words-container {
      width: 500px;
      display: flex;
      justify-content: flex-start;
    }
    .right-words-container {
      width: 500px;
      margin-left: calc(1vw + 30px);
    }
  }
}
.slot:hover {
  color: $accent-light;
}
