@import "./src/variables";
@import "./src/utilities";

.landing-page {
  width: 100%;
  min-height: 88vh;
}

.main-banner.one h1 {
  color: $base-light;
}

.main-banner.two {
  background-color: $base-dark;
  h1 {
    color: $base-light;
  }
}

.welcome-container {
  width: 80%;
  height: 80%;
  color: $base-dark;
  font-family: $font-body;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    margin-bottom: 10vh;
  }
}

.main-banner-container {
  width: 80%;
  padding: 8vh 0 10vh 0;
  h1 {
    margin-bottom: 5vh;
    font-size: 48px;
    font-family: $font-body;
  }
  .first-four-songs-container {
    display: grid;
    grid-template-columns: repeat(4, calc(74vw / 4));
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }
}
