@import "./src/variables";
@import "./src/utilities";

.landing-page {
  width: 100%;
  min-height: 88vh;
}

.landing-page .top-banner {
  h1 {
    font-size: 60px;
  }
}

.main-banner.one {
  padding-bottom: 5vh;
  h1 {
    color: $base-light;
  }
}

.main-banner.two {
  background-color: $base-dark;
  h1 {
    color: $base-light;
  }
}

.welcome-container {
  width: 80%;
  height: 80%;
  color: $base-dark;
  font-family: $font-body;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 60px;
    margin-bottom: 10vh;
  }
}

.main-banner-container {
  width: 80%;
  height: 100%;
  h1 {
    margin-bottom: 5vh;
    font-size: 48px;
    font-family: $font-body;
  }
  .first-four-songs-container {
    display: grid;
    grid-template-columns: repeat(4, calc(74vw / 4));
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }
}

@media all and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .main-banner-container {
    width: 80%;
    padding: none !important;
  }
  .first-four-songs-container {
    grid-column-gap: 10vw !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
  }
  .song-instance-box {
    height: 100%;
    .art-box {
      height: calc(100vw / 4) !important;
    }
    .song-instance-descriptions-box {
      height: 7.34vw;
      h5 {
        font-size: calc(1.4vw + 6px) !important;
      }
      h6 {
        font-size: calc(1vw + 6px) !important;
      }
    }
  }
}