@import "./src/variables";

.song-instance-box {
  color: $base-light;
  font-family: $font-body;
  transition: all 0.1s ease-in-out;
  .art-box {
    width: 100%;
    height: calc(74vw / 4);
    background-color: $base-dark;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .song-instance-descriptions-box {
    padding: 0.5em;
    background-color: $base-light;
    border-top: 3px solid $base-dark;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title button"
      "artist button";
    h5 {
      grid-area: title;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: calc(.7vw + 6px);
      color: $base-dark;
      &:hover {
        color: $accent-dark;
      }
    }
    h6 {
      grid-area: artist;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 0.3em;
      font-size: .95vw;
      font-size: calc(.5vw + 6px);
      color: grey;
      &:hover {
        color: $accent-dark;
      }
    }
    button {
      grid-area: button;
      width: 100%;
      padding: 0;
      border: 2px solid $base-dark;
      color: $base-dark;
      background-color: $base-light;
      border-radius: 1px;
      font-size: .8vw;
      font-weight: bold;
      &:hover {
        color: $base-light;
        background-color: $base-dark;
      }
    }
  }
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);
  &:hover {
    box-shadow: 0 0 30px 0px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
  }
}
