@import "./src/variables";

.song-instance-box {
  color: $base-light;
  font-family: $font-body;
  transition: all 0.1s ease-in-out;
  .art-box {
    width: 100%;
    height: calc(74vw / 4);
    background-color: $base-dark;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .song-instance-descriptions-box {
    padding: 0.5em;
    background-color: $base-light;
    border-top: 3px solid $base-dark;
    white-space: nowrap;
    h5 {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      color: $base-dark;
      &:hover {
        color: $accent-dark;
      }
    }
    h6 {
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 0.3em;
      font-size: 12px;
      color: grey;
      &:hover {
        color: $accent-dark;
      }
    }
  }
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);
  &:hover {
    box-shadow: 0 15px 60px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
}
