.song-page {
  width: 100%;
  height: 192vh;
  background-color: rgb(53, 53, 53);
}

.song-page-top-banner {
  width: 100%;
  height: 40vh;
  background-color: #fc4a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-page-display-box {
  width: 70%;
  height: 80%;
  background-color: rgb(53, 53, 53);
  display: flex;
}

.album-art-box {
  height: 100%;
  width: auto;
}

.album-art-box img {
  height: 100%;
  width: auto;
}

.song-details-box {
    height: 100%;
    margin-left: 50px;
    color: white;
}

.explanation-box {
  width: 100%;
  height: 15vh;
  background-color: #fc4a1a;
  position: fixed;
  bottom: 0;
}
