.song-page {
  width: 100%;
  min-height: 84vh;
  background-color: rgb(53, 53, 53);
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-page-top-banner {
  width: 100%;
  margin-top: 70px;
  // background-color: #fc4a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-page-display-box {
  width: 80%;
  background-color: rgb(53, 53, 53);
  // background-color: #fc4a1a;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto 1fr;
}

.album-art-box {
  height: 225px;
  width: 225px;
  max-height: 225px;
  max-width: 225px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.song-details-box {
  height: 100%;
  width: 100%;
  color: white;
  // border: 1px solid white;
  display: flex;
  flex-direction: column;
  max-width: 42vw;
  white-space: nowrap;
  h1 {
    font-size: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
  }
  h4 {
    font-size: 28px;
    color: #fc4a1a;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
  }
  .languages-box {
    // border: 1px solid white;
    display: flex;
    margin: 20px 0px;
  }
  h5 {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    // margin-top: 10px;
  }
}

.language-button {
  height: 40px;
  background-color: white;
  color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 10px 0px;
  margin-right: 15px;
  padding: 2px 10px;
  cursor: pointer;
  .language-flag-div {
    height: 45px;
    width: 45px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  span {
    margin-left: 10px;
  }
}

.song-page-main-space {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  margin-bottom: 70px;
  // border: 1px solid white;
}

.lyrics-space {
  width: auto;
  // border: 1px solid white;
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  font-size: 18px;
  // padding-bottom: 40px;
}

.explanation-box-holder {
  max-width: calc(1000px + 1vw);
  height: 5vh;
  // border: 1px solid white;
  position: sticky;
  bottom: 0;
  // margin-bottom: 10vh;
  .explanation-box {
    width: 100%;
    height: 100%;
    background-color: #e4dede;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.5);
    // border: 1px solid #fc4a1a;
    .explanation {
      // width: 90%;
      // max-height: 2rem;
      // border: 1px solid black;
      color: #fc4a1a;
      font-size: 18px;
      display: flex;
      padding: 10px 20px;
      text-align: center;
    }
  }
}
