.song-page {
  width: 100%;
  height: 192vh;
  background-color: rgb(53, 53, 53);
  font-family: "Varela Round", sans-serif;
}

.song-page-top-banner {
  width: 100%;
  height: 40vh;
  background-color: #fc4a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-page-display-box {
  width: 70%;
  height: 80%;
  background-color: rgb(53, 53, 53);
  display: flex;
}

.album-art-box {
  height: 100%;
  width: auto;
}

.album-art-box img {
  height: 100%;
  width: auto;
}

.song-details-box {
  height: 100%;
  margin-left: 50px;
  color: white;
}

.song-details-box h1 {
  font-size: 40px;
}

.song-details-box h4 {
  font-size: 24px;
  color: #fc4a1a;
}

.song-details-box h5 {
  font-size: 24px;
}

.song-details-box p {
}

.explanation-box {
  width: 100%;
  height: 15vh;
  background-color: #fc4a1a;
  position: fixed;
  bottom: 0;
}

.language-button {
  height: 40px;
  width: 110px;
  background-color: rgb(228, 222, 222);
  color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 2px 7px;
  cursor: pointer;
}

.language-flag-div {
  height: 45px;
  width: 45px;
}

.language-flag-div img {
  height: 100%;
  width: 100%;
}

.language-button span {
  margin-left: 5px;
}
