header {
  height: calc(8vh - 1px);
  background-color: rgb(53, 53, 53);
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #fc4a1a;
  }
  .profile-pic {
    height: 35px;
    width: 35px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
  .divider-line {
    border-right: 1px solid white;
    height: 4vh;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  img {
    height: 35px;
    width: 35px;
  }
  h1 {
    margin-left: 20px;
    color: white;
    font-size: 36px;
    text-decoration: none;
  }
  h1:hover {
    color: #fc4a1a;
  }
}

.search-box {
  width: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // border: 1px solid white;
  input {
    width: 100%;
    // border: 1px solid white;
    // margin-left: 20px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 8px;
  }
  input::placeholder {
    font-size: 16px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    // letter-spacing: .05em;
  }
}
