@import "./src/variables";

header {
  height: 6vh;
  // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  // border-bottom: 1px solid $base-light;
  background-color: $base-dark;
  font-family: $font-title;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: $base-light;
    text-decoration: none;
  }
  a:hover {
    color: $accent-dark;
  }
  .profile-pic {
    height: 2vw;
    width: 2vw;
    display: flex;
    align-items: center;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
  .divider-line {
    border-right: 1px solid $base-light;
    height: 4vh;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  img {
    height: 2vw;
    width: 2vw;
  }
  h1 {
    font-size: 30px;
    text-decoration: none;
    color: $base-light;
  }
  h1:hover {
    color: $accent-dark;
  }
}

.search-box {
  width: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  input {
    width: 100%;
    font-size: 18px;
    font-family: $font-title;
    color: $base-light;
    background: transparent;
    border: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 8px;
  }
  input::placeholder {
    font-size: 16px;
    color: $base-light;
    font-family: $font-title;
    font-weight: 100;
  }
}
