@import "./src/variables";

footer {
  height: 6vh;
  background-color: $accent-dark;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: $font-title;
}

.footer-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $base-light;
  font-size: 12px;
  text-align: center;
  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      height: calc(0.8vw + 10px);
      width: calc(0.8vw + 10px);
      border-radius: 50%;
      margin-right: .4vw;
    }
    p {
      text-decoration: none;
    }
    p:hover {
      color: $accent-light;
    }
    &:visited {
      color: $base-light;
    }
  }
}
