@import "./src/variables";
@import "./src/utilities";

.add-page {
  width: 100%;
  min-height: 84vh;
  font-family: $font-body;
  .top-banner h1 {
    margin-bottom: 3vh;
  }
}

.add-page-details-form {
  width: 80%;
  height: 230px;
  padding: 11px;
  border-radius: 10px;
  color: $accent-light;
  background-color: $base-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 0.5em;
    font-family: $font-body;
    font-weight: bold;
    font-size: 16px;
    color: $base-dark;
    background-color: $base-light;
    outline: none;
    &::placeholder {
      font-family: $font-title;
      font-size: 16px;
      color: $base-dark;
    }
  }
}

.add-page .main-banner button {
  max-height: 45px;
  max-width: 6.9vw;
}

.add-page-text-areas {
  width: 80%;
  margin: 4% 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .text-area {
    width: 42%;
    min-height: 600px;
    padding: 12px;
    border: none;
    border-radius: 0.5em;
    font-family: $font-body;
    font-size: 18px;
    font-weight: bold;
    color: $base-dark;
    background-color: $base-light;
    resize: none;
    outline: none;
    &::placeholder {
      font-family: $font-title;
      font-size: 16px;
      color: $base-dark;
      text-align: center;
    }
  }
  .trans-lyrix {
    margin: 0px 1%;
  }
}
