@import "./src/variables";
@import "./src/utilities";

.add-page {
  width: 100%;
  min-height: 84vh;
  font-family: $font-body;
}

.add-page .top-banner {
  justify-content: space-around;
}

.add-page-details-form {
  width: 80%;
  height: 230px;
  padding: 11px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 0.5em;
    font-family: $font-body;
    font-weight: bold;
    font-size: 16px;
    color: $base-dark;
    background-color: $base-light;
    outline: none;
    &::placeholder {
      font-family: $font-title;
      font-size: 16px;
      color: $base-dark;
    }
  }
  .language-inputs-container {
    display: flex;
    justify-content: space-between;
  }
  .new-lang-input,
  .og-lang-input {
    width: 44%;
  }
}

.add-page-submit-button {
  max-height: 45px;
  max-width: 6.9vw;
  margin: 0 1vw;
  color: $base-light;
  background-color: $base-dark;
  overflow: hidden;
  font-weight: bold;
  &:hover {
    color: $base-dark;
  }
}

.add-page-text-areas {
  width: 80%;
  margin: 4% 0 4% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  white-space: nowrap;
  .text-area {
    width: 100%;
    min-height: 600px;
    padding: 12px;
    border: none;
    border-radius: 0.5em;
    font-family: $font-body;
    font-size: 16px;
    font-weight: bold;
    color: $base-dark;
    background-color: $base-light;
    resize: none;
    outline: none;
    white-space: nowrap;

    &::placeholder {
      font-family: $font-title;
      font-size: 16px;
      color: $base-dark;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .explanations {
    grid-column: 1 /3;
  }
  .trans-lyrix {
    margin: 0px 1%;
  }
}
